# Ignorar arquivos de sistema
.DS_Store
Thumbs.db
.htacces
.user.ini
.well-know/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos temporários
*.tmp
*.swp

# Pastas comuns do Node
node_modules/
build/
dist/
.cache/
.next/
.vite/
out/

# Arquivos de ambiente
.env
.env.production
.env.*.local
*.log
frontend/Dockerfile.dev
backend/Dockerfile.dev
backend/Dockerfile.prod

# Uploads do Strapi (se não quiser versionar)
backend/public/uploads/

# Docker
docker-compose.override.yml

# Editor config
.idea/
.vscode/

# SOs
*.bak
*.tar.gz
*.zip
*.tgz

# Test coverage
coverage/
