# Ignorar node_modules do host
node_modules

# Ignorar arquivos compilados locais
dist

# Ignorar banco local (opcional — use volume se quiser persistência externa)
db.sqlite

# Ignorar arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar editor/configs locais
.vscode
.idea
.DS_Store
*.swp