HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# API de Alerts — baseline do Risk Level
ALERTS_API_URL=https://localhost:7074
ALERTS_JWT_KEY=EA78u7bReYkM3e4A+QZ3Wg==
